### R Data manipulation ... 

http://garrettgman.github.io/tidying/

http://cyberhelp.sesync.org/data-manipulation-in-R-lesson/2016/07/26/

https://www.tidyverse.org/

<img src="images/tidy-data.jpeg" width="50%">

In [1]:
x <- c( 50, 35, 15, 75, 120, 80, 40, 65)
y <- c('A','C','B','A','D','C','B','D')
z <- c('1', '0', '1', '0', '1', '1','0','0' )

In [3]:
idf <- data.frame( "Count" = x, "VarName" = y, "B1" =z)

In [5]:
idf

  Count VarName B1
1  50   A       1
2  35   C       0
3  15   B       1
4  75   A       0
5 120   D       1
6  80   C       1
7  40   B       0
8  65   D       0

In [6]:
library(tidyr)
counts_spread <- spread(idf, VarName, Count)
counts_spread

  B1 A  B  C  D
1 0  75 40 35  65
2 1  50 15 80 120